
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: Arial, sans-serif;
    padding: 20px;
   background-color: aquamarine;
}

.heading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 20px;
}


.card {
   background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.card .price {
    font-size: 20px;
    
    color: brown;
    margin-bottom: 10px;
}


@media (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}
